<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4UZGuAYP6QMFJyoJs5lSI0p1XlDJvlRw</string>
	<key>GCM_SENDER_ID</key>
	<string>300374215771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Maria.proyecto</string>
	<key>PROJECT_ID</key>
	<string>mariamajo-46470</string>
	<key>STORAGE_BUCKET</key>
	<string>mariamajo-46470.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300374215771:ios:eb896e6264a598d502437e</string>
</dict>
</plist>